<header>
    <div class="header-container">
        <nav>
            <a href="index.html">سەرەکی</a>
            <a href="activites.html">چالاکییەکان</a>
            <a href="about.html">دەربارە</a>
            <a href="services.html">خزمەتگوزارییەکان</a>
            <a href="quran.html">قورئانی پیرۆز</a>
            <a href="contact.html">پەیوەندی</a>
        </nav>
        <div class="brand">
            <a href="index.html">
                <h1>ڕێکخراوی ژیاو</h1>
                <img src="Slide1.png" alt="Logo">
            </a>
        </div>
    </div>
</header>